div.logo-holder {
  width: 190px;
}

div.hero-image-holder {
  background-image: url("../img/MicrosoftTeams-image (10).png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 430px;
}
